/*
*   @name: animations.scss
*   @description: Estilos de animación
*/

.animation {
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;

    .faster {
        animation-duration: 250ms;
    }
}

@keyframes fadeIn {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

.fadeOut {
    animation-name: fadeOut
}

.shine {
    animation: shine 1000ms infinite ease-in-out;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.9) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
}
  
@keyframes shine {
    from { -webkit-mask-position: 150%; }
    to { -webkit-mask-position: -50%; }
}
