/*
 *  @version 1.0.1
 *  @author Trejocode - Sergio
 *  @description Habilita los <iframe> responsives
*/

.iframe-container {    
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
}

.iframe-container iframe {    
    top: 0;
    left: 0;
    border: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}