/*
 *  @version 1.0.0
 *  @author Trejocode - Sergio
 *  @description Estilos para la página de /fetch
*/

.page-fetch {

    min-height: calc(100vh - 182px);
    
    h1 { font-size: 4rem; }

    table {

        border-radius: 4px;
        background-color: $white;
        border: 1px solid rgba($secondary, 0.1);
        box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

        thead {
            border: 1px solid $gray;
            th {
                text-align: left;
                padding: $paddingMedium;
                border-bottom: 1px solid rgba($secondary, 0.25);
            }
        }

        tbody {
            tr { 
                transition: all 300ms ease-in-out;
                &:hover { background-color: rgba($secondary, 0.1); }
            }
            td { padding: $paddingNormal $paddingMedium; }
            img { max-width: 50px; }
        }
    }

    @media screen and (max-width: 768px){
        h1 {
            font-size: 2.5rem;
        }
    }

}
