# ====== 
# Configuración para Apache
# https://create-react-app.dev/docs/deployment
# ======

Options -MultiViews
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.html [QSA,L]