/*
 *  @version 1.0.1
 *  @author Trejocode - Sergio
 *  @description Estilos para el componente <Header /> 
*/


header {

    background-color: $white;
    padding: $paddingMedium 0;
    border-bottom: 1px solid #e9e9e9;

    .logo {
        h2 { padding-left: $paddingNormal; }
    }

    nav {
        
        justify-content: flex-end;

        .nav-item { 

            padding: 0 $paddingMedium; 
            transition: all 300ms ease-in-out;

            &:hover { color: $primary; }

        }

        .nav-active { color: $primary; }

    }

}

@media screen and (max-width: 768px) {

    header {

        padding: $paddingMedium 0;

        .logo { justify-content: center; }

        nav {
            justify-content: center;
            margin-top: $marginMedium;
        }
    
    }
    
}